aside
{
    grid-area: aside;
}

.author-image{
    height: auto;
    max-height: 130px;
    min-height: 100px;
    width: 100%;
    max-width: 120px;
    margin: auto;
}

.author-block
{
    justify-content: space-between;
    margin-top:7px;
    display: grid;
    grid-template-columns: 33% 63%;
    grid-gap: 5px; 
}

.subscribe{
    margin-top: 8px; 
}

.subscribe-inputs{
    border-radius:3px; 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.subscribe input[type=text]{
    border-radius:3px;
    margin: 3px; 
}

.subscribe button{
    padding: 10px 30px;
    outline: none;
    background-color: #5c70df;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #95a5a6;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 14px;
    width: 100%;
}

.subscribe button:hover{
    background-color: #7d89cc;
}

aside .search
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

aside .search input[type=text]
{
    width: 100%;
    border: solid 1px #7d89cc;
    border-right:none; 
}

aside .search button
{
    border: solid 1px #7d89cc;
    border-left:none; 
    font-size: 18px;
}