* {
    box-sizing: border-box;
}

html,body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}



body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

.container
{
    flex-wrap: wrap;
    display: grid;
    grid-template-areas: "blog aside";
    grid-template-columns: 70% 29%;
    grid-gap: 10px; 
}

.mobile-screen{
    display: none;
}

.full-screen{
    display: flex;
    justify-content: space-between;
}

img{
   display: block; 
}

.footer-items
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic,cyrillic-ext');

@media(max-width:860px) {
    .container{
        grid-template-areas: 
        "blog"
        "aside";
        grid-template-columns: 100%;
    }
    
    .mobile-screen{
        display: block;
    }

    .full-screen{
        display: none;
    }
  }