* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

.custom-header{
    display: flex;
    justify-content: space-between;
    background-color: #e9e9e9;
    height: 5%;
    overflow: hidden;
}

.socials i{
    font-size: 25px;
    cursor: pointer;
}



.main-header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo
{
    height: 120px;
    width: auto;
}

.top-head
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.bottom-head
{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.bottom-head ul
{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.bottom-head li
{
    cursor: pointer;
    font-size:20px; 
    padding-left: 30px;
}

.search
{
    padding-right: 7px;
    display: flex;
    justify-content: right;
}

.search button
{
    border-radius: 0px 4px 4px 0px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search input[type=text]{
    display: block;
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px 0px 0px 4px;
}


.search button:hover
{
    background: #ccc;
}
.menu{
    display: flex;
    visibility: hidden;
    align-items: center;
    color: azure;
    font-size:17px;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
}

.menu i{
    color: red;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic,cyrillic-ext');

/* @media(min-width:768px) {
    .custom-header {
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
      padding: 15px 0;
    }
    
  } */