* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

/* .bar {    
    width: 70%;
    height: 10%;
    background-color: #333;
    margin: 6px 0;
} */

.custom-header{
    display: flex;
    justify-content: space-between;
    background-color: #e9e9e9;
    height: 5%;
    overflow: hidden;
}

.socials i{
    cursor: pointer;
}

.top-head
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search
{
    font-size: 10px;
    justify-content: right;
}

.search button
{
    /* padding: 6px 10px; */
    /* margin-right: 16px; */
    background: #ddd;
    /* font-size: 17px; */
    border: none;
    cursor: pointer;
    /* margin-top: 8px; */
}

.search input[type=text]{
    /* margin-top: 8px; */
    
    border: none;
    border-radius: 1px;
    /* padding: 6px; */
}


.search button:hover
{
    background: #ccc;
}
.menu{
    display: flex;
    visibility: hidden;
    align-items: center;
    /* background-color: #2196F3; */
    color: azure;
    font-size:17px;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
}

.menu i{
    color: red;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic,cyrillic-ext');

/* @media(min-width:768px) {
    .custom-header {
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
      padding: 15px 0;
    }
    
  } */