  .blog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 10px;
    justify-content: space-between;
  }

  .card {
    border: solid 1px #dedede;
    display: flex;
    align-items: center;
    border-radius: 4px; 
    flex-direction: column;
  }

  .card-img{
      max-width: 100%;
      flex: 1;
      border-bottom: solid 1.5px blanchedalmond;
      transition: transform .2s;
    }

    .card-img:hover
    {
        transform: scale(1.01);
    }

  .card-info {
    padding: 8px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px; 
  }
  
  .card-content {
    margin-bottom: 10px;
  }
  
  .card-author {
    color: gray;
    margin-bottom: 7px;
  }
  
  .card-footer {
    color: gray;
    padding-top: 10px;
    border-top: solid 1px #ededed;
    display: flex;
    justify-content: space-around;
  }
  
  .card:hover * {
    background: #444;
    color: white;
  }